 body{
    ttext-align:center;
   background-color:lightblue;
   color:purple;
      }
#stuff{
"background-color:black;color:green;
        margin:25px;padding:25px;
               border-radius:15px;"
}
#stuff2{
  "background-color:pink;color:blue;"
}
